:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color-hover: #4d5ae5;
  --accent-color: #404bbf;
  --background-color: #ffffff;
  --background-btn-filters: #f4f4fd;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
    }


    ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    text-decoration: none;
    list-style: none;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

.list{
    list-style: none;
}

.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   }

.link,
.list,
.header-contact a,
.page-logo,
.header-contact,
.navigation-list-item,
.navigation-link,
.contact {
  text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455 ;
    background-color: #FFFFFF;
  }




.navigation-list-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts-adress {
  display: flex;
    margin-left: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-logo {
  margin-right: 76px;
  font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
 display: flex;
    align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;


}

.span-logo {
  font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
    display: flex;
    align-items: center;
   letter-spacing: 0.03em;
   text-transform: uppercase ;
   
   color: #2E2F42;
}

.hero {
  padding-top: 188px;
    padding-bottom: 188px;
  background-color: #2e2f42;
}

.hero-title {
   margin-left: auto;
    margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  max-width: 496px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.button {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-open-btn {
  margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    display: flex;   
    display: block;
    min-width: 169px;
     height: 56px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    border: none; 

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: #ffffff;
}

.text-title,
.text-title-team{
   
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.title-description,
.title-description-team {

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-title-team,
.title-description-team{
  text-align: center;
}
.title {
   margin-bottom: 72px; 
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.page-logo-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-btn-filters);
        
}

.span-logo-footer {
    font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   display: flex;
    align-items: center;
   letter-spacing: 0.03em;
   text-transform: uppercase ;
   color: #f4f4fd;
}
.team-background-color {
  background: #f4f4fd;
}
.team-card {
   border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    
    background-color: #FFFFFF;
}

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.button-filter {
  padding-top: 12px; 
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  background: #f4f4fd;
   border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.projects-title {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e7e9fc;
}
.top-line {
  box-sizing: border-box;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-list-item:hover,
.navigation-list-item:focus {
  color: #404bbf;
}

.navigation-list:hover,
.navigation-list:focus {
  color: #404bbf;
}

.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
  
}
.contact-item{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
} 


.contacts-address:hover,
.contacts-address:focus {
  color: #404bbf;
}
.contacts-address {
  font-style: normal;
}


.link:hover,
.link:focus {
  color: #404bbf;
}

.contacts-address{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.header-contact{
     line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}



.page-navigation{
  display: flex;
    align-items: center;
}

.main-header{
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  padding: 24px 0;
}

.main-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  
.navigation-link{
    padding: 24px 0;
}

.header-contact{
  gap: 40px;
   display: flex;
    align-items: center;
  
}
 .title-list-item{
   width: calc((100% - 48px) / 3);
    border: 1px solid #E7E9FC;
}
 .job-title{
  padding-top: 32px;
    padding-bottom: 32px; 
    padding-left: 16px;
    padding-right: 16px;
 }

 .section{
    padding-top:120px ;
    padding-bottom:120px ;
}

.advantages-list{
  width: calc((100% - 72px) / 4); 
}

.footer{
  padding-top: 100px;
    padding-bottom: 100px;
     background-color: #2e2f42;
}

.page-logo-footer{
  display: inline-block;
    margin-bottom: 16px;
    
}
.span-logo-footer{
  display: inline-block;
    margin-bottom: 16px;
}

.section-button{
    padding-top: 96px;
    padding-bottom: 120px;
}


.projects {
  display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.projects-title{
   width: calc((100% - 48px) / 3);
}
.project-name{
   padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top:none;
}

.title-description{
  text-align: left;
}

.site-nav-list{
   justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
    display: flex;

}
.navigation-list{
  gap: 40px;
  display: flex;
 
}

.our-advantages{
  padding-top: 120px; 
  padding-bottom: 120px;
}
.section-actions{
  padding-bottom: 120px;
}

.our-advantages-list{
  display: flex;
  gap: 24px;
}

.team-card-list{
   display: flex;
  gap: 24px;
  
}

.section-actions-list{
  display: flex;
  gap: 24px;
}